body
    +navbar
    .l-clearfix
    //-     +header_1
    //-     //- +clients_1
    //- .l-clearfix
    //-     +about_1
    //- .l-clearfix.bg-gray
    //-     +features_1
    //- .l-clearfix
    //-     +cross_1
    //- .l-clearfix.bg-gray
    //-     +events_1
    //- .l-clearfix
    //-     +multi_1
    //- .l-clearfix.bg-gray
    //-     +cms_1
    //- .l-clearfix
    //-     +webintegration_1
    //- .l-clearfix.bg-gray
    //-     +download_1
    //- .l-clearfix
    //-     +contact_1
    //- .l-clearfix
    //-     +footer_1
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>



