template(name="download_1")

  section.download
    .row
      .col-md-6.col-md-offset-3
        .paragraph
          h1.title Download our info brochure
          p.subheading Learn more about eventSpark app and it's features by downloading PDF version of our brochure.
        button.infodoc
          img(src="http://i.imgur.com/n4JUUw2.png")
          a(href="")




