template(name="footer_1")

  footer.footer
    .container
      .col-md-6
        p.subheading
          | one
          | two
          | three
      .col-md-6
        .footer-image
          img(src="http://i.imgur.com/mHWTi2Z.png", alt="eventSpark")





