template(name="webintegration_1")

  section.webintegration
    .row
      .col-md-6
        .image-cont
          img.websites(src="http://i.imgur.com/Fg6YiLp.png", alt="")
      .col-md-6
        .paragraph
          h2.title Integrated modular website
          p.subheading Your event deserves a good looking website. We offer you unparraleled service of easy event website creation using your CMS. No previous experience in web design or programming is required, simply chose templates that fits your desired layout and fill in the information, the rest will be taken care of for you. You will need to enter the data only once, and it will be available in app and your event website at the same time.




