template(name="multi_1")
  section.multi-event
    .container
      .row
        .col-md-6
          .img-cont
            img.phones(src=" http://i.imgur.com/6lyOGg8.png", alt="")
        .col-md-6
          .paragraph
            h2.title Branded multi-event app
            p.subheading Perfect solution for a companies that organise events on a regular basis. Create engaging events with a branded mobile app by EventSpark.<br><br>No vim simul tantas. Ex dico minim omnes sea, ut vel iriure forensibus. Molestiae disputando definitionem usu eu, nec lobortis urbanitas ad. Mea et quis putant option, eu elaboraret persequeris vim, detraxit euripidis te sed. Quis ludus partem duo an. Iisque accusam ei eum, qui eu dicta necessitatibus.


