template(name="about_1")
  section.about
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.headline
            | What is EventSpark?
          p.subheading Mobile apps are no longer a future-leaning technology to explore someday, but a vital tool that attendees seek in order to customise and enhance their event experience. The EventSpark app is the essential companion for both organisers and attendees. It facilitates direct engagement with the speakers and ensures that they are more approachable by listing their biographies, documents and pictures, as well as the direct links to their respective presentations.

