template(name="cross_1")
  section.crossplatform
    .container
      .row
        .col-md-10.col-md-offset-1
          h1.title.underline Cross-platform application
          p.subheading EventSpark app is accessible on all commonly used modern platrofms
          .image-cont.l-align-center
            img.cross(src="http://i.imgur.com/WYNWKVj.png", alt="iOS")
            img.cross(src="http://i.imgur.com/8zhydLr.png", alt="Android")
            img.cross(src="http://i.imgur.com/gRleP2t.png", alt="Desktop")

