template(name="events_1")
  section.events
    .container
      .row.l-clearfix
        .col-md-12
          h1.headline-hero One app for all event types
      .row.l-clearfix
        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/50QarRu.png", alt="Courses")
              h4.event-type Courses
        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/u7uBMew.png", alt="Courses")
              h4.event-type Seminars
        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/oq0D4No.png", alt="Courses")
              h4.event-type Talks

        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/6xxGLCN.png", alt="Courses")
              h4.event-type Prize meetings
        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/hmIVcvS.png", alt="Courses")
              h4.event-type Conferences
        .col-sm-6.col-md-4
            .event-item
              img.event-type(src="http://i.imgur.com/P01CYQ1.png", alt="Courses")
              h4.event-type Workshops



    //- .row.l-clearfix
    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/50QarRu.png", alt="Courses")
    //-         h4.event-type Courses
    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/u7uBMew.png", alt="Courses")
    //-         h4.event-type Seminars

    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/oq0D4No.png", alt="Courses")
    //-         h4.event-type Talks
    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/6xxGLCN.png", alt="Courses")
    //-         h4.event-type Prize meetings

    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/hmIVcvS.png", alt="Courses")
    //-         h4.event-type Conferences
    //-   .col-md-6
    //-       .item
    //-         img.event-type(src="http://i.imgur.com/P01CYQ1.png", alt="Courses")
    //-         h4.event-type Workshops


