template(name="clients_1")
  section.clients-carousel
    .row
      .col-md-10.col-md-offset-1
        h2.title Our clients
        #myCarousel.carousel.slide(data-interval='3000', data-ride='carousel')
          // Carousel indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
          // Carousel items
          .carousel-inner
            .item.active
              .logo-group1
                img.client(src="http://i.imgur.com/i8uSXet.png", alt="LBCG")
                img.client(src="http://i.imgur.com/7ePiLl1.png", alt="GFC")
                img.client(src="http://i.imgur.com/3wTtGrY.png", alt="UCL")
                img.client(src="http://i.imgur.com/HDXyb05.png", alt="BPS")
              //- .carousel-caption
              //-   h3 First slide label
              //-   p Lorem ipsum dolor sit amet consectetur…
            .item
                img.client(src="http://i.imgur.com/3wTtGrY.png", alt="UCL")
                img.client(src="http://i.imgur.com/7ePiLl1.png", alt="GFC")
                img.client(src="http://i.imgur.com/HDXyb05.png", alt="BPS")
                img.client(src="http://i.imgur.com/i8uSXet.png", alt="LBCG")
              //- .carousel-caption
              //-   h3 Second slide label
              //-   p Aliquam sit amet gravida nibh, facilisis gravida…
            .item
              img.client(src="http://i.imgur.com/7ePiLl1.png", alt="GFC")
              img.client(src="http://i.imgur.com/i8uSXet.png", alt="LBCG")
              img.client(src="http://i.imgur.com/HDXyb05.png", alt="BPS")
              img.client(src="http://i.imgur.com/3wTtGrY.png", alt="UCL")
              //- .carousel-caption
              //-   h3 Third slide label
              //-   p Praesent commodo cursus magna vel…
          // Carousel nav
          a.carousel-control.left(href='#myCarousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.carousel-control.right(href='#myCarousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
