template(name="cms_1")
  section.cms
    .container
      .row
        .col-xs-12.col-md-6.col-md-push-6
          .img-cont
            img.cms(src="http://i.imgur.com/SchiZwp.png", alt="")


        .col-xs-12.col-md-6.col-md-pull-6
          .paragraph
            h2.title Powerfull CMS will make it a breeze
            p.subheading Our Central Management System (CMS) is simple and intuitive. Giving you control to manage and edit all the content at any time. All updates are synchronised and pushed out in real time, including last minute changes.
            p.subheading Easy single and multiple events management. etc…

