template(name="features_1")
  section.features
    .container
      .row
        .col-md-12
          h1.title Key features
      .row
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/t4PGCDm.png", alt="Agenda")
            h2.feat-title
              | Manage schedule
            p.subheading
              | Give your attendees the autonomy to build and manage their personal schedule.
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/jXCGVkQ.png", alt="Networking" style="padding-top:2px;")
            h2.feat-title
              | Networking
            p.subheading
              | Multiple platforms for your attendees to connect, and get to know each other and  exchange ideas.
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/UF1xlIo.png", alt="Live Polling" style="margin-top:-3px;")
            h2.feat-title
              | Live polling
            p.subheading
              | Direct engagement between key speakers and the audience, through live poling and the discussion boards.
      .row
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/3BQBZbw.png", alt="Manage data")
            h2.feat-title
              | Manage data
            p.subheading
              | Easily manage large amounts of data that are required to support sessions (e.g. scientific abstracts)
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/OZo8mQB.png", alt="Increase life cycle of event")
            h2.feat-title
              | Increase event lifecycle
            p.subheading
              | With the app being accessible days before and after the conference.
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/SZ4TO4W.png", alt="Increase Revenue" style="padding-top:4px;")
            h2.feat-title
              | Increase revenue
            p.subheading
              | Create revenue opportunities through enhanced sponsor and exhibitor profiles as well as banner advertising.
      .row
        .col-xs-12.col-sm-6.col-md-4.col-md-offset-2
          .feature
            .icn
              img.icon(src="http://i.imgur.com/mXRQqP5.png", alt="Realtime Feedback")
            h2.feat-title
              | Real time feedback
            p.subheading
              | In built feedback and further data provides useful live and digitalized information to track the success of your event.
        .col-xs-12.col-sm-6.col-md-4
          .feature
            .icn
              img.icon(src="http://i.imgur.com/fAUDe3T.png", alt="Go Green")
            h2.feat-title
              | Go green, save money
            p.subheading
              | Significantly reduce your printing effort and costs whilst playing your part in protecting the environment.
